body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

datalist {
  display: block;
  writing-mode: vertical-lr;
  width: 200px;
  position: relative;
  left: 55px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

#eleven{
  color: red;
}

label{
  padding-right: 8px;
}

.input-container{
  padding: 4px;
}

.container{
  padding: 8px;
}

.wrapper{
  display: flex;
}